@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  background: #232428;
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
  position: relative;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 40px 0;
  cursor: default;
  border-radius: 10px;
}

h1 {
  width: 100%;
  font-size: 40px;
  color: #27a992;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #cef0ea;
  text-align: center;
}

h2 {
  width: 100%;
  margin: 10px 0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

#lista {
  gap: 10px;
  width: 100%;
  display: flex;
  border-radius: 2px;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#lista i {
  font-size: 30px;
}

#lista li {
  height: 100px;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  background: #cef0ea;
  text-transform: uppercase;
  border-top: 10px solid #27a992;
}

#lista a {
  width: 100%;
  text-decoration: none;
}

#lista i,
#lista span {
  width: 33.33%;
  color: #27a992;
  text-align: center;
  pointer-events: none;
  background: transparent;
}

#calcular {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  width: 200px;
  height: 50px;
  border: none;
  padding: 0 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  background: #27a992;
}

@media (max-width: 800px) {
  ul {
    width: 100%;
  }
}