@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  outline: none;
  background: #232428;
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  padding: 15px;
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 0;
  position: relative;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  display: flex;
  padding: 40px 0;
  cursor: default;
  border-radius: 10px;
  flex-direction: column;
}

h1 {
  width: 100%;
  font-size: 40px;
  color: #27a992;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #cef0ea;
  text-align: center;
}

h2 {
  width: 100%;
  margin: 5px 0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

#historico {
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}

#lista {
  gap: 10px;
  width: 90%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  flex-direction: column-reverse;
}

#lista a {
  width: 100%;
  height: 80px;
  display: block;
  position: relative;
  text-decoration: none;
}

#lista li {
  height: 100%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  background: #cef0ea;
  text-transform: uppercase;
  justify-content: space-around;
}

#lista i {
  font-size: 30px;
}

#lista i,
#lista span {
  color: #27a992;
  text-align: center;
  pointer-events: none;
  background: transparent;
}

#calcular {
  width: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  background: #27a992;
}

@media (max-width: 800px) {
  ul {
    width: 100%;
  }
}

@media (max-width: 300px) {
  button {
    font-size: 15px;
  }
}