@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lexend Deca", 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

/* =Animações
-----------------------------------------------------------------------------------------------------------------------------*/

@keyframes piscandoLento {
  0% {
    opacity: 0.5;
  } 30% {
    opacity: 1;
  } 70% {
    opacity: 1;
  } 100% {
    opacity: 0.5;
  }
}

/* =Body
-----------------------------------------------------------------------------------------------------------------------------*/

body {
  margin: 0 auto;
  max-width: 650px;
  position: relative;
  background: #232428;
}

main {
  gap: 30px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 10px 0;
  cursor: default;
  font-size: 25px;
  color: #ffffff;
  font-family: 'Poppins';
}

/* =Cabeçalho
-----------------------------------------------------------------------------------------------------------------------------*/

header {
  padding: 40px 0;
}

header a {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  color: #27a992;
  text-align: center;
  font-family: 'Poppins';
  text-transform: uppercase;
}

p {
  color: #cef0ea;
  text-align: center;
  font-family: 'Poppins';
}

/* =Mostruario
-----------------------------------------------------------------------------------------------------------------------------*/

#mostruario {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

#mostruario h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mostruario h2 i {
  font-size: 22px;
}

/* =Formulario
-----------------------------------------------------------------------------------------------------------------------------*/

#formulario {
  width: 100%;
  min-height: 50px;
}

#metricas {
  border-radius: 5px;
}

#tipo {
  height: 50px;
  display: none;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 900;
  line-height: 50px;
  position: relative;
}

form {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  border: none;
  height: 80px;
  background: #cef0ea;
}

input[type=number] {
  padding: 0 30px;
  font-size: 18px;
  font-family: 'Poppins';
}

input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0 0px;
}

input[type=button] {
  height: 60px;
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bolder;
  background: #27a992;
  text-transform: uppercase;
  font-family: 'Lexend Deca';
  transition: all 700ms ease;
}

.faltaAlgo {
  color: #232428 !important;
  background: #febf30 !important;
}

#base {
  gap: 10px;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
}

.pergunta span {
  display: block;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}

.botoes {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoes div {
  gap: 5px;
  display: flex;
  align-items: center;
}

.botoes div:nth-child(1)::after {
  width: 3px;
  content: '';
  height: 23px;
  translate: 7px 0;
  background: gray;
}

.botoes label {
  color: #cef0ea;
  font-size: 18px;
}

.sumir {
  background: #27a992;
}

.sumir #tipo {
  display: block;
}

.sumir form {
  display: none;
}

/* =Resultado
-----------------------------------------------------------------------------------------------------------------------------*/

#resultado {
  display: none;
}

.resultado {
  order: -1;
  flex-direction: column;
  display: flex !important;
}

#valores {
  margin: 0 40px;
  cursor: default;
}

#valores li {
  height: 65px;
  display: flex;
  margin: 10px 0;
}

.aviso {
  height: 50px;
  font-weight: 900;
  border-radius: 10px;
  align-items: center;
  background: #febf30;
  flex-direction: column;
  justify-content: center;
  animation: piscandoLento 2s ease infinite;
}

.aviso i {
  font-size: 20px;
  margin-left: 15px;
  align-self: flex-start;
}

.aviso span {
  font-size: 20px;
  translate: 0 -10px;
  font-family: 'Poppins';
}

.result {
  overflow: hidden;
  line-height: 65px;
  justify-content: space-between;
  border-radius: 5px 10px 10px 5px;
  border-right: 5px solid #27a992;
}

.result span {
  width: 50%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.result span:nth-child(1) {
  background: #27a992;
  border-radius: 5px 0 0 5px;
}

.result span:nth-child(2) {
  color: #000000;
  background: #cef0ea;
  box-shadow: inset 1px 0 5px -3px #000;
}

@media screen and (min-width: 650px) {

  #aviso,
  ul li {
    height: 70px;
    font-size: 20px;
  }

  #tipo {
    height: 70px;
    font-size: 18px;
    line-height: 70px;
  }

  ul span {
    line-height: 70px;
  }

}
